@model Models.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";

    @Scripts.Render("~/Scripts/Views/Login.js");
}

<script>
    var urlEnterLogin = '@Url.Action("EnterLogin", "Login")';
    var urlIndexMenu = '@Url.Action("Index", "Menu")';
</script>

@using (Ajax.BeginForm("", "", null, null, new { name = "LoginForm", id = "LoginForm" }))
{
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <div class="fadeIn first">
                <div style="float:left;width:100%;height:20px;"></div>
            </div>

            <br />

            @Html.TextBoxFor(x => x.name, new { @Class = "fadeIn second", placeholder = "Nome" })
            <span asp-validation-for="Email" style="color: #dc3545 !important;"></span>

            @Html.PasswordFor(x => x.password, new { @Class = "fadeIn second", placeholder = "Senha" })
            <span asp-validation-for="Senha" style="color: #dc3545 !important;"></span>
            <br />
            <br />
            <input type="submit" class="fadeIn fourth" onclick="EnterLogin()" value="Entrar">
            <br />

            <div style="color: #dc3545 !important;" id="messageValidationError">   
            </div>

            <div id="formFooter">
                <a class="underlineHover" href="#">Esqueceu a senha?</a>
            </div>
        </div>
    </div>

}

