@model Models.ViewModel.EstablishmentViewModel

@{
    ViewData["Title"] = "Cadastro Estebelecimentos";
}


<h2>@ViewData["Title"]</h2>
<hr />

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse($('#FormRegisterInput'));
        $('#CNPJ').mask('00.000.000/0000-00', { reverse: true });
        $('#Agency').mask('000-0', { reverse: true });
        $('#Account').mask('00.000-0', { reverse: true });
        $('#RegisterDate').mask('00/00/0000', { reverse: true });
        $('#PhoneNumber').mask('000-00000-0000', { reverse: true });
    });
</script>

@using (Ajax.BeginForm("", "", null, null, new { @class = "form-signin", id = "FormRegisterInput", name = "FormRegisterInput" }))
{
    <div class="modal fade" id="modal-RegisterInput" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" @*data-keyboard="false" data-backdrop="static"*@>
        <div class="modal-dialog-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <i class="fa fa-calendar"></i>
                        <span class="hidden-inline-mobile" style="margin-left:10px;"><b>@ViewBag.Title</b></span>
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="col-sm-3 col-lg-4">
                                    <span><b>Razão Social</b></span>
                                    <br />
                                    @Html.HiddenFor(x => x.IdSequence)
                                    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", @maxlength = 100 })
                                </div>

                                <div class="col-sm-3 col-lg-4">
                                    <span><b>Nome Fantasia</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.FantasyName, new { @class = "form-control", @maxlength = 100 })
                                </div>

                                <div class="col-sm-3 col-lg-3">
                                    <span><b>CNPJ</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.CNPJ, new { @class = "form-control", @maxlength = 100, @placeHolder = "xx.xxx.xxx/xxxx-xx" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">

                                <div class="col-sm-3 col-lg-4">
                                    <span><b>Agência</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.Agency, new { @class = "form-control", @maxlength = 100, @placeholder = "xxx-x" })
                                </div>

                                <div class="col-sm-3 col-lg-4">
                                    <span><b>Conta</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.Account, new { @class = "form-control", @maxlength = 100, @placeholder = "xx.xxx-x" })
                                </div>

                                <div class="col-sm-3 col-lg-3">
                                    <span><b>Endereço</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @maxlength = 100 })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="col-sm-3 col-lg-4">
                                    <span><b>Estado</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.State, new { @class = "form-control", @maxlength = 100 })
                                </div>

                                <div class="col-sm-3 col-lg-4">
                                    <span><b>Cidade</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", @maxlength = 100 })
                                </div>

                                <div class="col-sm-3 col-lg-3">
                                    <span><b>Telefone</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @maxlength = 100, @placeHolder = "xxx-xxxxx-xxxx" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">

                                <div class="col-sm-3 col-lg-4">
                                    <span><b>Categoria</b></span>
                                    <br />
                                    @Html.DropDownListFor(m => Model.Category, ViewBag.CategoryList as SelectList, new { @class = "form-control", @id="CategoryDDL"})
                                </div>

                                <div class="col-sm-3 col-lg-4">
                                    <span><b>Email</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @maxlength = 100 })
                                </div>

                                <div class="col-sm-3 col-lg-3">
                                    <span><b>Data de Cadastro</b></span>
                                    <br />
                                    @Html.TextBoxFor(x => x.RegisterDate, new { @class = "form-control fieldRegisterDate", @maxlength = 100, @placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="col-sm-3 col-lg-4">
                                    <span><b>Status</b></span>
                                    <br />
                                    @Html.DropDownListFor(m => Model.Status, ViewBag.StatusList as SelectList, new { @class = "form-control", @id= "StatusDDL" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <i class="fa fa-reply"></i>
                        @Html.Raw(" Fechar")
                    </button>
                    <button type="button" class="btn btn-primary" onclick="ClearFields()">
                        <i class="fa fa-reply"></i>
                        @Html.Raw(" Limpar")
                    </button>
                    <button type="button" class="btn btn-success" onclick="Save();" value="Salvar">
                        <i class="fa fa-reply"></i>
                        @Html.Raw(" Salvar")
                    </button>
                </div>
            </div>
        </div>
    </div>
}
